#footerContact {
    display: inline-flex;
    justify-content: center;
    width: 1920px;
    height: 677px;
    position: relative;
    vertical-align: top;
    background: rgba(0, 0, 0, 0.76) url(/img/img/imgFooter.png);
    margin-top: 220px;
}

#contact {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 236px;
    height: 353px;
    margin-top: 101px;
    margin-right: 153px;
}

.contactIcon {
    display: flex;
    align-items: center;
}

.contactIcon img {
    margin-right: 20px;
}

.contactIcon p {
    margin: 0;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;
}

.footerAddress {
    margin-top: 72px;
    margin-bottom: 55px;
}

.footerPhone {
    margin-bottom: 52px;
}

.phoneNumber {
    display: flex;
    flex-direction: column;
}

.phoneNumber p {
    margin: 0;
}

.footerEmail {
    margin-bottom: 55px;
}

#opacity {
    width: 1920px;
    height: 677px;
    background-color: #201f1f;
    opacity: 0.8;
    position: absolute;
    display: inline-flex;
    vertical-align: top;
}

.footerContactName {
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
}

#feedback {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-top: 101px;
}

.feedbackForm {
    width: 768px;
    height: 384px;
}

.otherFeedback {
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
}

.otherFeedback input {
    width: 238px;
    height: 44px;
    background-color: #04001318;
    border: 1px solid #ffffff;

    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}

.otherFeedback input::-webkit-input-placeholder {
    color: #ffffff;
    padding: 17px 0 0 12px;
}

.feedbackTextarea {
    width: 99%;
    height: 196px;
    margin-top: 31px;
    border: 1px solid #f5f5f5;
    background-color: #0000001a;
    resize: none;

    font-family: "Myriad Pro";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}

.feedbackTextarea::-webkit-input-placeholder {
    color: #ffffff;
    padding: 15px 0 0 11px;
}

.feedbackButton {
    display: flex;
    margin-top: 70px;
}

.feedbackBtn {
    width: 227px;
    height: 50px;
    background-color: #53d0fb;

    color: #000000;
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: center;
}

.feedbackButton p {
    width: 300px;
    margin: 0;
    margin-left: 59px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

#logoFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 345px;
    height: 81px;
    margin-top: 43px;
}

#footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1920px;
}

.logoFooter {
    width: 168px;
    height: 81px;
    margin-right: 58px;
}

.footerIconOther {
    margin-left: 21px;
    margin-right: 20px;
}

#textFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    color: #000000;
    font-family: Geometria;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

#textFooter p {
    margin: 0;
    color: #000000;
    font-family: Geometria;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.textAnimation {
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: underline;
    text-transform: uppercase;
}